openapi: 3.0.3
info:
  title: CV
  description: |-
    This is the API to retrieve information about me and my career so far.
    The repository can be found at <a href="https://github.com/doompickaxe/website-quarkus">GitHub</a> which reveals the code of this application.
  contact:
    email: kwatzal@gmail.com
  version: 1.0.0
servers:
  - url: https://www.kevinwatzal.de
  - url: http://localhost:8080
tags:
  - name: persons
    description: Information about people
  - name: career
    description: Previous career path
  - name: education
    description: Schools and universities that have been attended
paths:
  /api/persons:
    get:
      tags:
        - persons
      description: Retrieve all stored people
      operationId: getPersons
      responses:
        '200':
          description: All stored people
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Persons'
        '500':
          description: An unexpected error has occurred

  /api/persons/{id}:
    get:
      tags:
        - persons
      description: General information and things to know about me
      operationId: getPersonalInformation
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
            example: 'be1ec2eb-ee17-421d-a221-5b537d8a242a'
      responses:
        '200':
          description: Retrieved personal information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalInformation'
        '404':
          description: Could not find person
        '500':
          description: An unexpected error has occurred

  /api/persons/{id}/career:
    get:
      tags:
        - career
      description: The career path until today
      operationId: getCareerPath
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
            example: 'be1ec2eb-ee17-421d-a221-5b537d8a242a'
      responses:
        '200':
          description: Career path until today
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerPath'
        '500':
          description: An unexpected error has occurred

  /api/persons/{id}/education:
    get:
      tags:
        - education
      description: The schools and universities I've attended
      operationId: getEducationPath
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
            example: 'be1ec2eb-ee17-421d-a221-5b537d8a242a'
      responses:
        '200':
          description: Schools and universities I've attended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationPath'
        '500':
          description: An unexpected error has occurred

components:
  schemas:
    Persons:
      type: array
      items:
        $ref: '#/components/schemas/Person'

    Person:
      type: object
      required:
        - id
        - firstName
        - lastName
      properties:
        id:
          type: string
          format: uuid
          example: 'be1ec2eb-ee17-421d-a221-5b537d8a242a'
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe

    PersonalInformation:
      type: object
      required:
        - firstName
        - lastName
        - age
        - email
        - languages
        - interests
        - currentlyLivingIn
      properties:
        firstName:
          type: string
          example: "Max"
        lastName:
          type: string
          example: "Mustermann"
        age:
          type: integer
          format: int32
          example: 33
          minimum: 0
        email:
          type: string
          example: "sample@email.com"
        phoneNumber:
          type: string
          example: "+43618999997"
        originalFrom:
          $ref: '#/components/schemas/City'
        currentlyLivingIn:
          $ref: '#/components/schemas/City'
        languages:
          type: array
          items:
            type: string
            example: "English"
        interests:
          type: array
          items:
            type: string
            example: "Writing OpenAPI specs"

    City:
      type: object
      required:
        - country
        - city
      properties:
        country:
          type: string
        city:
          type: string

    CareerPath:
      type: array
      items:
        $ref: '#/components/schemas/CareerItem'

    CareerItem:
      type: object
      required:
        - company
        - start
        - jobTitle
        - jobDescription
        - tasks
      properties:
        company:
          $ref: '#/components/schemas/Company'
        jobTitle:
          type: string
          example: OpenAPI writer
          description: Title of the job
        start:
          type: string
          format: date
          example: 21-01-1970
          description: Date in format dd-MM-yyyy
        end:
          type: string
          format: date
          example: 31-12-1970
          description: Date in format dd-MM-yyyy
        jobDescription:
          type: string
          example: Backend Developer
        tasks:
          type: string
          example: Writing OpenAPI specifications

    Company:
      type: object
      required:
        - name
        - branch
        - city
        - amountOfEmployees
      properties:
        name:
          type: string
          example: Test Company LLC
        branch:
          type: string
          example: Fiction
        city:
          $ref: '#/components/schemas/City'
        amountOfEmployees:
          type: integer
          description: Rough estimation of the amount of employees

    EducationPath:
      type: array
      items:
        $ref: '#/components/schemas/EducationItem'

    EducationItem:
      type: object
      required:
        - schoolName
        - city
        - start
        - degree
        - educationType
      properties:
        schoolName:
          type: string
          example: Making people smart
        city:
          $ref: '#/components/schemas/City'
        start:
          type: string
          format: date
          example: 31-12-1970
          description: Date in format dd-MM-yyyy
        end:
          type: string
          format: date
          example: 31-12-1970
          description: |
            Date in format dd-MM-yyyy. In case this field is missing it indicates that I am still
            attending this institution.
        degree:
          type: string
          example: Bachelor of Science
        description:
          type: string
          description: What I've learned during that time
        educationType:
          type: string
          enum:
            - ELEMENTARY_SCHOOL
            - SECONDARY_SCHOOL
            - COLLEGE
            - UNIVERSITY
