quarkus:
  datasource:
    devservices:
      port: 5432
      enabled: true
    db-kind: postgresql
    username: ${POSTGRES_USER:quarkus}
    password: ${POSTGRES_USER_SECRET:quarkus}
    jdbc:
      url: ${POSTGRES_JDBC_URL:jdbc:postgresql://localhost:5432/quarkus}
  flyway:
    migrate-at-start: true
    active: true
    username: ${quarkus.datasource.username}
    password: ${quarkus.datasource.password}
    jdbc-url: ${quarkus.datasource.jdbc.url}
  http:
    access-log:
      enabled: true
  container-image:
    build: true
    name: website
  native:
    additional-build-args: "--initialize-at-build-time=org.jetbrains.exposed.sql\\,org.jetbrains.exposed.jdbc\\,org.jetbrains.exposed.sql.transactions"
  analytics:
    disabled: true
  banner:
    enabled: false
  swagger-ui:
    urls:
      HOME: /openapi.yaml
    path: /index.html
    always-include: true
    title: Explore CVs
    try-it-out-enabled: true
  smallrye-openapi:
    path: /openapi.yaml
    management:
      enabled: false

mp:
  openapi:
    scan:
      disable: true

testcontainers:
  reuse:
    enable: true

"%prod":
  quarkus:
    devservices:
      enabled: false
    datasource:
      devservices:
        port: 5432
        enabled: false
  testcontainers:
    reuse:
      enable: false