quarkus:
  datasource:
    devservices:
      port: 5432
      enabled: true
    db-kind: postgresql
    username: ${POSTGRES_USER:quarkus}
    password: ${POSTGRES_USER_SECRET:quarkus}
    jdbc:
      url: ${POSTGRES_JDBC_URL:jdbc:postgresql://localhost:5432/quarkus}
  flyway:
    migrate-at-start: true
    active: true
    username: ${quarkus.datasource.username}
    password: ${quarkus.datasource.password}
    jdbc-url: ${quarkus.datasource.jdbc.url}
  http:
    access-log:
      enabled: true
    auth:
      permission:
        openapi:
          paths: /openapi.yaml,/,/index.html,/swagger-ui.css,/theme-feeling-blue.css,/style.css,/swagger-ui-bundle.js,/swagger-ui-standalone-preset.js,/favicon.ico,/logo.png
          methods: GET,HEAD
          policy: permit
        api:
          paths: /api/*
          policy: permit
        authenticated:
          paths: /api/admin/*
          policy: authenticated
  container-image:
    build: true
    name: website
  analytics:
    disabled: true
  banner:
    enabled: false
  swagger-ui:
    urls:
      HOME: /openapi.yaml
    path: /index.html
    always-include: true
    title: Explore CVs
    try-it-out-enabled: true
  smallrye-openapi:
    path: /openapi.yaml
    management:
      enabled: false
  keycloak:
    devservices:
      realm-path: keycloak/quarkus-realm.json

mp:
  openapi:
    scan:
      disable: true

testcontainers:
  reuse:
    enable: true

"%prod":
  quarkus:
    devservices:
      enabled: false
    datasource:
      devservices:
        enabled: false
    oidc:
      auth-server-url: ${KEYCLOAK_URL:http://localhost:8000}
  testcontainers:
    reuse:
      enable: false

