quarkus:
  devservices:
    enabled: true
  datasource:
    devservices:
      port: 5432
      enabled: true
    db-kind: postgresql
    username: quarkus
    password: quarkus
    jdbc:
      url: jdbc:postgresql://localhost:5432/quarkus
  flyway:
    migrate-at-start: true
    active: true
    username: quarkus
    password: quarkus
    jdbc-url: jdbc:postgresql://localhost:5432/quarkus
  http:
    access-log:
      enabled: true

mp:
  openapi:
    scan:
      disable: true

testcontainers:
  reuse:
    enable: true
